
<!-- Blog Post Section -->
<section class="padding pt-xs-40">
    <div class="container">
        <div class="row">
            <!-- Post Bar -->
            <div class="col-lg-12 blog-post-hr post-section">
                <div class="blog-post mb-30">
                    <div class="post-meta">
                        <span>by <a href="javascript:avoid(0);">Admin</a>,</span><span> <a href="javascript:avoid(0);"><i class="fa fa-comment-o"></i> 25</a>,</span><span> <a href="javascript:avoid(0);"><i class="fa fa-heart-o"></i> 57</a>,</span>
                        <div class="post-more-link pull-right">
                            <div class="icons-hover-black"> <a href="#" class="facebook-icon"> <i class="fa fa-facebook"></i> </a><a href="#" class="twitter-icon"> <i class="fa fa-twitter"></i> </a><a href="#" class="googleplus-icon"> <i class="fa fa-google-plus"></i> </a><a href="#" class="linkedin-icon"> <i class="fa fa-linkedin"></i> </a> </div>
                            <a class="btn-text xs-hidden"> <i class="ion-android-share-alt"></i></a>
                        </div>
                    </div>
                    <div class="post-header">
                        <h2>Maecenas nec odio ante varcy tincidunt.fgdfg ddfg dfd ddfdffg</h2>
                    </div>

                    <div class="row text-center mb-30">
                        <div class="col-md-6">
                            <img class="" src="tenants/00/img/products/headphone.jpg">
                        </div>
                       
                        <div class="col-md-6">
                          <p><strong>Maja Miletich </strong>is the CEO of Zip Zap Zop Kids, LLC. Maja has worked with children on many levels. Having a brother with Autism has given Maja an understanding of how powerful communication is for ALL children. Maja has worked for years as a teacher where she practices emergent curriculum. Maja has studied theater and improv at A.C.T. in San Francisco as well as graduated from The Second City Training Center in Hollywood where she studied improv and sketch comedy. Maja has her Bachelors Degree in Early Childhood Education. Maja's focus is on inclusive classrooms where curriculum is designed to allow children and young adults to feel comfortable expressing themselves in whichever way they feel most comfortable. Maja believes when we can share with one another what has been taught then, and only then, are we actually learning.</p>
                        </div>

                    </div>


                    <div class="post-entry">
                        <p> Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                        <p> similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                        <blockquote class="dark-bg"> We're not leaving here without Buster, man. Leave no crash-test dummy behind nihil impedit quo minus id quod maxime placeat facere! </blockquote>
                        <p class="lead"> Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                        <h3 class="mt-30">Sub Blog Title Here</h3>
                        <p> Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                        <ul class="lead-point mt-15">
                            <li> <i class="ion-android-done"></i> Aenean suscipit eget mi act fermentum. </li>
                            <li> <i class="ion-android-done"></i> Aenean suscipit eget mi act fermentum. </li>
                            <li> <i class="ion-android-done"></i> Aenean suscipit eget mi act fermentum. </li>
                        </ul>
                        <p> similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                    </div>



                    <div class="row text-center mb-30">

                        <div class="col-md-6">
                            <p><strong>Maja Miletich </strong>is the CEO of Zip Zap Zop Kids, LLC. Maja has worked with children on many levels. Having a brother with Autism has given Maja an understanding of how powerful communication is for ALL children. Maja has worked for years as a teacher where she practices emergent curriculum. Maja has studied theater and improv at A.C.T. in San Francisco as well as graduated from The Second City Training Center in Hollywood where she studied improv and sketch comedy. Maja has her Bachelors Degree in Early Childhood Education. Maja's focus is on inclusive classrooms where curriculum is designed to allow children and young adults to feel comfortable expressing themselves in whichever way they feel most comfortable. Maja believes when we can share with one another what has been taught then, and only then, are we actually learning.</p>
                        </div>

                        <div class="col-md-6">
                            <img class="" src="tenants/00/img/products/headphone.jpg">
                        </div>

                       

                    </div>



                   
                    <div class="post-tag pull-left"> <i class="fa fa-tag"></i><span><a>awesome audio post</a>,</span><span><a>quotes post</a></span> </div>
                </div>
                <hr />
                <div class="post-author">
                    <div class="post-author-img pull-left"> <img alt="author" src="assets/images/blog/6.jpg"> </div>
                    <div class="post-author-details post-author-blog width-75per">
                        <h6>Andu john</h6>
                        <p> Nulla viverra ultrices magna. Aenean et diam. Nam semper ipsum et purus sed quam. Ut scelerisque prtium dolor. Sed tincidunt scelerisque sem. Sed et erat nulla facilisi. Sed urna erat vehicula scele risque gravida et scelerisque in metus. </p>
                    </div>

                </div>
                <hr />
                <div class="clearfix"></div>
               
                
            </div>
            <!-- End Post Bar -->
           
        </div>
    </div>
</section>
<!-- End Blog Post Section -->







<!-- ======= Blog Section ======= -->
@*<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row g-5">

            <div class="col-lg-12">

                <div class="row gy-4 posts-list">

                    <div class="col-lg-12">
                        <PublicSitesClient.Components.BlogItems.PostItem BlogItems="@BlogItems"></PublicSitesClient.Components.BlogItems.PostItem>
                    </div>
                    <!-- End post list item -->
                                      

                </div>
                <!-- End blog posts list -->
               
                @if (DisplayPagination == true)
                {
                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>

                    <!-- End blog pagination -->
                }              

            </div>

            <div class="col-lg-4">
                <PublicSitesClient.Components.BlogItems.BlogSidebar DisplaySidebar="false"></PublicSitesClient.Components.BlogItems.BlogSidebar>             
            </div>

        </div>

    </div>
</section>*@
<!-- End Blog Section -->


@code {
    private bool DisplayPagination = false;

    [Parameter]
    public IEnumerable<BlogItem> BlogItems {get; set; }
}