@inject HtmlExportService HtmlExportService

@page "/export-pages"

<h3>Export Pages</h3>

<input @bind="Url" placeholder="Enter URL" />

<button @onclick="Download">Download Minified HTML</button>

@code {
    private string Url;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Url = "https://localhost:7053/home/code-buoy/lobbyist-tracker";
    }

    private async Task Download()
    {
        await HtmlExportService.DownloadMinifiedHtmlAsync(Url);
    }
}