@page "/time-clock"

<PageTitle>Index</PageTitle>

<div class="buttons">

    <button id="one" class="button digit-button" value="1">1</button>
    <button id="two" class="button digit-button" value="2">2</button>
    <button id="three" class="button digit-button" value="3">3</button>
    <button id="four" class="button digit-button" value="4">4</button>
    <button id="five" class="button digit-button" value="5">5</button>
    <button id="six" class="button digit-button" value="6">6</button>

    <button id="seven" class="button digit-button" value="7">7</button>
    <button id="eight" class="button digit-button" value="8">8</button>
    <button id="nine" class="button digit-button" value="9">9</button>

    <button id="left" class="button digit-button" value="left">&larr;</button>
    <button id="zero" class="button digit-button" value="0">0</button>
    <button id="right" class="button digit-button" value="right">&rarr;</button>

</div>

<br /><br />

<div class="row">

    <div col="col-md-12">
        <h3>Week 1 - May 3, 2018 thru May 10, 2018</h3>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <h3>Monday</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>In</th>
                    <th>Out</th>
                    <th>Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8:00AM</td>
                    <td>12:00PM</td>
                    <td>4.00</td>
                </tr>

                <tr>
                    <td>12:36PM</td>
                    <td>5:21PM</td>
                    <td>4.56</td>
                </tr>

            </tbody>
        </table>

    </div>

</div>

<div class="row">

    <div col="col=md-12">
        <h3>Week 2- May 11, 2018 thru May 18, 2018</h3>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>In</th>
                <th>Out</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8:00AM</td>
                <td>12:00PM</td>
                <td>4.00</td>
            </tr>

            <tr>
                <td>12:36PM</td>
                <td>5:21PM</td>
                <td>4.56</td>
            </tr>

        </tbody>
    </table>


</div>

@code {

}