
<div class="py-lg-14 py-10 position-relative bg-cover"
     style="background-image:
     url(../assets/images/background/gradient-bg.png);">
    <!-- Image -->
    <div class="container">
        <div class="row align-items-center mb-6">
            <div class="col-12 col-lg-7 order-md-2">
                <div class="mb-2 mb-md-0">
                    <img src="../assets/images/background/graphics.svg" alt=""
                         class="img-fluid mw-md-130">
                </div>
            </div>
            <div class="col-12 col-lg-5 order-md-1">
                <!-- Heading -->
                <h1 class="display-2 mb-5 fw-bold">
                    Modern web apps
                    shipped faster
                </h1>
                <!-- list -->
                <ul class="list-unstyled fs-3 text-dark
              mb-6 fw-medium">
                    <li class="mb-1">
                        <i class="mdi mdi-check-circle text-success
                 me-2"></i>Simple to use, beautiful UI design
                    </li>
                    <li class="mb-1">
                        <i class="mdi mdi-check-circle text-success
                 me-2"></i>Complete complex project with ease
                    </li>
                    <li class="mb-1">
                        <i class="mdi mdi-check-circle text-success
                 me-2"></i>An intuitive admin app for developers
                    </li>
                </ul>
                <!-- Buttons -->
                <div class="mb-8 mb-lg-0">
                    <a href="#" class="btn btn-primary me-3 mb-2 mb-lg-0">
                        Get started for Free
                    </a>

                    <a href="#" class="text-nowrap btn-link">
                        Questions? Talk to an expert
                    </a>
                </div>

            </div>
        </div>
        <!-- Hero Section -->
        <!-- row -->
        <div class="row mt-10">
            <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
                <!-- Heading -->
                <div class="text-center mb-6 px-md-8">
                    <span class="ls-md">
                        TRUSTED BY MILLIONS OF DEVELOPERS
                        & THOUSANDS OF ENTERPRISE TEAMS
                    </span>
                </div>
                <!-- row -->
                <div class="row text-center">
                    <!-- col -->
                    <div class="col">
                        <div class="mb-4 mb-lg-0">
                            <img src="../assets/images/brand/gray-logo-airbnb.svg"
                                 alt="" class="">
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="mb-4 mb-lg-0">
                            <img src="../assets/images/brand/gray-logo-discord.svg"
                                 alt="" class="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4 mb-lg-0">
                            <img src="../assets/images/brand/gray-logo-intercom.svg"
                                 alt="" class="">
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="mb-4 mb-lg-0">
                            <img src="../assets/images/brand/gray-logo-stripe.svg"
                                 alt="" class="">
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="mb-4 mb-lg-0">
                            <img src="../assets/images/brand/gray-logo-netflix.svg"
                                 alt="" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />


@code {
    [Parameter]
    public HeroItem? HeroItem { get; set; }
}