

<div class="video-container">
    <iframe src="@VideoUrl"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>


@* <div class="container">

    <h3 class="text-center">2222Funny Videos</h3> *@

 @*    <div class="youtube-video-container pt-125 mt-110"> *@

       @*  <div class="youtube-video-container">
            <iframe src="@VideoUrl"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div> *@
 @*    </div> *@

@* </div>
 *@


@* <div class="container">

    <h3 class="text-center">Funny Videos</h3> *@

    @* <div class="youtube-video-container pt-125 mt-110"> *@

@*     <div class="mike-video-container">
        <iframe src="@VideoUrl"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>

</div> *@

@* width="560"
    height="315"*@

@code {

    [Parameter]
    public string VideoUrl { get; set; }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public int Height { get; set; }
}


@* 5gWMlWzjKmU *@