@if (Gallery != null)
{
    <div class="container-fluid bg-dark pt-5 my-5 px-0">
        <div class="text-center mx-auto mt-5 wow fadeIn">
            <p class="fw-medium text-uppercase text-primary mb-2"></p>
            <h1 class="display-5 text-white mb-5">Our Menu</h1>
        </div>
        <div class="row">
            @foreach (var i in Gallery)
        {
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">

                    <div class="text-center">
                            <img src="@i.FullImageUrl" class="card-img-top align-content-center medium style-picture" alt="Picture 1" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@i.Title</h5>
                        <p class="card-text">@i.Descr</p>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
}

@code {  

    [Parameter]
    public IEnumerable<GalleryItemVm>? Gallery { get; set; }
}