/* Responsiveness */
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--gray);
    }

    .hamb {
        display: none;
    }
}











/* header top */
/*.top-nav-section {
    background: #3c1919;
    padding: 15px 0;
}

    .top-nav-section .social {
        display: inline-block;
        margin-top: 10px;
    }

        .top-nav-section .social a {
            color: #fff;
            margin-right: 30px;
        }

.counter-top {
    text-align: center;
}

    .counter-top h5 {
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        top: -9px;
        position: relative;
    }

    .counter-top .counter {
        display: inline-block;
        margin: 0 20px;
    }

        .counter-top .counter .counter-item {
            padding: 0 20px;
            font-size: 11px;
            text-transform: uppercase;
            color: #fff;
            border-right: 1px solid #503030;
            display: inline-block;
        }

            .counter-top .counter .counter-item:last-child {
                border-right: none;
            }

            .counter-top .counter .counter-item h4 {
                font-size: 20px;
                color: #fff;
            }

    .counter-top .top-readmore {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #dd3e3e;
        top: -9px;
        position: relative;
    }

.user-input {
    float: right;
    padding-top: 10px;
}

    .user-input a {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
    }

.header-section {
    padding: 30px 0;
    position: relative;
}

    .header-section .site-btn {
        float: right;
        margin-left: 100px;
    }

.site-logo {
    display: inline-block;
    margin-right: 20px;
    padding-top: 5px;
}

.nav-switch {
    display: none;
}

.main-menu {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

    .main-menu ul {
        list-style: none;
    }

        .main-menu ul li {
            display: inline;
        }

            .main-menu ul li a {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: #252525;
                margin-left: 20px;
                padding: 10px;
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                transition: all 0.4s;
            }

                .main-menu ul li a:hover {
                    color: #dd3e3e;
                }

            .main-menu ul li.active a {
                color: #dd3e3e;
            }*/
