.product-item {
    background: no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
    transition: transform 2s;
}

.product-item:hover {
    transform: scale(1.15);
}

/*#portfolio .portfolio-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

    #portfolio .portfolio-item .portfolio-link {
        position: relative;
        display: block;
        margin: 0 auto;
    }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 200, 0, 0.9);
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity ease-in-out 0.25s;
        }

            #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
                font-size: 1.25rem;
                color: white;
            }

        #portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
            opacity: 1;
        }

    #portfolio .portfolio-item .portfolio-caption {
        padding: 1.5rem;
        text-align: center;
        background-color: #fff;
    }

        #portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
            font-size: 1.5rem;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-weight: 700;
            margin-bottom: 0;
        }

        #portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
            font-style: italic;
            font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

.portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.portfolio-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

    .portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .portfolio-modal .modal-content p.item-intro {
        font-style: italic;
        margin-bottom: 2rem;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .portfolio-modal .modal-content p {
        margin-bottom: 2rem;
    }

    .portfolio-modal .modal-content ul.list-inline {
        margin-bottom: 2rem;
    }

    .portfolio-modal .modal-content img {
        margin-bottom: 2rem;
    }

.portfolio-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
}

    .portfolio-modal .close-modal:hover {
        opacity: 0.3;
    }
*/




/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
/*.menu .nav-tabs {
    border: 0;
}

.menu .nav-link {
    margin: 0 10px;
    padding: 10px 5px;
    transition: 0.3s;
    color: var(--color-secondary);
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #b6b6bf;
}

@media (max-width: 575px) {
    .menu .nav-link {
        margin: 0 10px;
        padding: 10px 0;
    }
}

.menu .nav-link i {
    padding-right: 15px;
    font-size: 48px;
}

.menu .nav-link h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    font-family: var(--font-secondary);
}

@media (max-width: 575px) {
    .menu .nav-link h4 {
        font-size: 16px;
    }
}

.menu .nav-link:hover {
    color: var(--color-primary);
}

.menu .nav-link.active {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.menu .tab-content .tab-header {
    padding: 30px 0;
}

    .menu .tab-content .tab-header p {
        font-size: 14px;
        text-transform: uppercase;
        color: #676775;
        margin-bottom: 0;
    }

    .menu .tab-content .tab-header h3 {
        font-size: 36px;
        font-weight: 600;
        color: var(--color-primary);
    }

.menu .tab-content .menu-item {
    -moz-text-align-last: center;
    text-align-last: center;
}

    .menu .tab-content .menu-item .menu-img {
        padding: 0 60px;
        margin-bottom: 15px;
    }

    .menu .tab-content .menu-item h4 {
        font-size: 22px;
        font-weight: 500;
        color: var(--color-secondary);
        font-family: var(--font-secondary);
        font-weight: 30px;
        margin-bottom: 5px;
    }

    .menu .tab-content .menu-item .ingredients {
        font-family: var(--font-secondary);
        color: #8d8d9b;
        margin-bottom: 5px;
    }

    .menu .tab-content .menu-item .price {
        font-size: 24px;
        font-weight: 700;
        color: var(--color-primary);
    }*/
