@inherits LayoutComponentBase

<h1>Template Two, I am</h1>

<div class="page">
   
    <main>      

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
